n8n/workflows/02-daily-meal-reminders.json
{
  "name": "02 — Daily Plan & Meal Reminders",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 1 }]
        }
      },
      "id": "cron-hourly",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.BACKEND_URL }}/api/v1/nutrition/schedule/pending-reminders",
        "method": "GET",
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-Secret",
              "value": "={{ $env.N8N_INTERNAL_SECRET }}"
            }
          ]
        },
        "options": { "timeout": 15000 }
      },
      "id": "get-pending-reminders",
      "name": "Get Pending Meal Reminders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [440, 300],
      "notes": "Returns list of users with pending meal slots near their target_time"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-users",
      "name": "Loop Users",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [660, 300]
    },
    {
      "parameters": {
        "url": "https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.telegram_id, text: $json.reminder_text, parse_mode: 'HTML' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "send-meal-reminder",
      "name": "Send Meal Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [880, 300]
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [
        [{ "node": "Get Pending Meal Reminders", "type": "main", "index": 0 }]
      ]
    },
    "Get Pending Meal Reminders": {
      "main": [
        [{ "node": "Loop Users", "type": "main", "index": 0 }]
      ]
    },
    "Loop Users": {
      "main": [
        [{ "node": "Send Meal Reminder", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "cron" }, { "name": "nutrition" }, { "name": "reminders" }]
}
