n8n/workflows/06-supplement-reminders.json
{
  "name": "06 — Supplement Reminders",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 30 }]
        }
      },
      "id": "cron-30min",
      "name": "Every 30 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300],
      "notes": "Check for supplement reminders due in next 30 min window"
    },
    {
      "parameters": {
        "url": "={{ $env.BACKEND_URL }}/api/v1/supplements/pending-reminders",
        "method": "GET",
        "headerParameters": {
          "parameters": [
            { "name": "X-N8N-Secret", "value": "={{ $env.N8N_INTERNAL_SECRET }}" }
          ]
        },
        "options": { "timeout": 15000 }
      },
      "id": "get-supplement-reminders",
      "name": "Get Pending Supplement Reminders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [440, 300],
      "notes": "Returns [{telegram_id, supplement_name, dosage, reminder_text}]"
    },
    {
      "parameters": { "batchSize": 1, "options": {} },
      "id": "loop",
      "name": "Loop Users",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [660, 300]
    },
    {
      "parameters": {
        "url": "https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.telegram_id, text: $json.reminder_text, parse_mode: 'HTML' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "send-reminder",
      "name": "Send Supplement Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [880, 300]
    }
  ],
  "connections": {
    "Every 30 min": {
      "main": [[{ "node": "Get Pending Supplement Reminders", "type": "main", "index": 0 }]]
    },
    "Get Pending Supplement Reminders": {
      "main": [[{ "node": "Loop Users", "type": "main", "index": 0 }]]
    },
    "Loop Users": {
      "main": [[{ "node": "Send Supplement Reminder", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "cron" }, { "name": "supplements" }, { "name": "reminders" }]
}
