n8n/workflows/08-pre-post-workout-nutrition.json
{
  "name": "08 — Pre/Post Workout Nutrition",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 15 }]
        }
      },
      "id": "cron-15min",
      "name": "Every 15 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300],
      "notes": "Check for pre/post workout nutrition windows"
    },
    {
      "parameters": {
        "url": "={{ $env.BACKEND_URL }}/api/v1/notifications/workout-nutrition-batch",
        "method": "GET",
        "headerParameters": {
          "parameters": [
            { "name": "X-N8N-Secret", "value": "={{ $env.N8N_INTERNAL_SECRET }}" }
          ]
        },
        "options": { "timeout": 15000 }
      },
      "id": "get-workout-nutrition",
      "name": "Get Workout Nutrition Reminders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [440, 300],
      "notes": "Returns users who have workouts scheduled in ~60min (pre) or finished ~30min ago (post). [{telegram_id, type: 'pre'|'post', suggestion}]"
    },
    {
      "parameters": { "batchSize": 1, "options": {} },
      "id": "loop",
      "name": "Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [660, 300]
    },
    {
      "parameters": {
        "url": "https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.telegram_id, text: $json.suggestion, parse_mode: 'HTML' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "send-nutrition-tip",
      "name": "Send Pre/Post Workout Tip",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [880, 300]
    }
  ],
  "connections": {
    "Every 15 min": {
      "main": [[{ "node": "Get Workout Nutrition Reminders", "type": "main", "index": 0 }]]
    },
    "Get Workout Nutrition Reminders": {
      "main": [[{ "node": "Loop", "type": "main", "index": 0 }]]
    },
    "Loop": {
      "main": [[{ "node": "Send Pre/Post Workout Tip", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "cron" }, { "name": "workouts" }, { "name": "nutrition" }]
}
